/* Remove margens e preenchimentos padrão de todos os elementos */
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #86895d;
}

h1{
    color: #0e0c0c;
    font-size: 40px;
}
/* Define estilo para as divs com id title e menu */
#title, #menu{
    background-color: #54582f;
    padding: 15px;
    text-align: center;
}

#menu{
    padding: 10px;
}
/* Estiliza os links do menu (estados normal e visitado) */
#header a:link, #header a:visited{
    color: #030303;
    padding: 8px 12px;
}

/* Estiliza os links ao passar o mouse */
#header a:hover{
    color: #6b7030;
    background-color: #c5d6a1;
    text-decoration: none;
    
}

#form{
    text-align: center;
    font-size: 20px;
    margin-top: 10%;
}
/* Estiliza os campos do formulário */
input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #222220 ;
  background-color: #ccd8b1;
  border-radius: 4px;
  box-sizing: border-box; 
}

/* Estiliza os campos do formulário */
textarea{
  width: 49%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #222220 ;
  background-color: #ccd8b1;
  border-radius: 4px;
  margin-left: 2%;
}
/* Estiliza os campos do formulário */
label{
    margin-right: 2%;
}
/* Estiliza os campos do formulário */
button{
  width: 15%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #222220 ;
  background-color: #ccd8b1;
  border-radius: 4px;
  margin-right: 34%;
  box-sizing: border-box; 
}

/* Estiliza a area onde vai o conteúdo*/
#content{
    margin: 0 auto;
    padding: 15px;
    background-color: #a3a277;
    border-radius: 50px;
    width: 550px;
    height: 450px;
    margin-top: 8%;
}
    
/* Estiliza o rodapé */
#footer{
      border: 2px solid rgb(4, 54, 4);  
      padding: 15px;           
      width: 500px;             
      text-align: center;      
      border-radius: 10px;    
      background-color: #a0b179;
      font-size: 20px; 
      margin-top: 10%;
      margin-left: 40%;
    
}