/* Remove margens e preenchimentos padrão de todos os elementos */
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #86895d;
}

h1{
    color: #0e0c0c;
    font-size: 40px;
}
/* Define estilo para as divs com id title e menu */
#title, #menu{
    background-color: #54582f;
    padding: 15px;
    text-align: center;
}

#menu{
    padding: 10px;
}
/* Estiliza os links do menu (estados normal e visitado) */
#header a:link, #header a:visited{
    color: #030303;
    padding: 8px 12px;
}

/* Estiliza os links ao passar o mouse */
#header a:hover{
    color: #6b7030;
    background-color: #c5d6a1;
    text-decoration: none;
    
}

#meusprojetos{
    text-align: center;
    margin-top: 4%;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width:1366px){
    #meusprojetos{
        font-size: 40px;
        margin-top: 10%;
    }
}

/* Estiliza o rodapé */
#footer{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  font-size: 20px;
  color: #000;
}
 
@media (max-width:1366px) {
    #footer{
        font-size: 18px;
    }
}
/* Estiliza a imagem */
.img-content{
    width: 300px;
    height: 150px;
    border-radius: 28%;
    float: left;
    margin-top: 10%;
    margin-left: 44%;
}

@media (max-width:1366px){

.img-content{
    float: left;
    margin-top: 50%;
    margin-left:21%;

    
    
    


}
}
